<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalles del cliente</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Cliente</a>
            </li>
            <li>
                <a>Detalles</a>
            </li>
            <li class="active">
                <strong>Nombre del cliente</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-5">

                             <div>
                                    <div class="image-imitation" style="height:400px;">
                                        
                                    </div>
                             </div>
                           </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                Martha Jostel
                            </h2>
                           <!-- <small>Many desktop publishing packages and web page editors now.</small> -->
                            <div class="m-t-md">
                                <h2>508 d&iacute;as restantes </h2>
                                <h5>Edad: 26 años</h5>
                                <h5>Teléfono: 6562369878</h5>
                                <h5>Correo: mart.jos@gmail.com</h5>
                                <h5>C.P.: 325688</h5>

                            </div>
                            <hr>

                            <h4>Membresía full-pass</h4>
                            <h4 class="text-muted">Sucursal Panamericana</h4>
                            <h4>Inicio membresía 15 de octubre del 2016</h4>
                            <h4 class="text-muted">Cierra membresía 20 de noviembre del 2016</h4>
                            <h4>Contactada por: Enrique Valtierra</h4>

                            
                            <hr>

                            <div>
                                <div class="btn-group">
                                    <button class="btn btn-primary dim"><i class="fa fa-cart-plus"></i> Vender</button>
                                    <button class="btn btn-white dim"><i class="fa fa-arrow-left"></i> Volver</button>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
                <div class="ibox-footer">
                            <span class="pull-right">
                                Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                            </span>
                    The generated Lorem Ipsum is therefore always free
                </div>
            </div>

        </div>
    </div>
 