
<br>
<br>
<br>
<div class="col-lg-4"></div>
        <div>
           <img alt="image" src="img/Alcatraz_GYM.png">
        </div>
        
        <div class="middle-box text-center loginscreen">
    <div>
        <h3>Bienvenidos Vendedores</h3>
        <p>
        </p>
        <p>Iniciar sesi&oacuten</p>
        <form class="m-t" role="form" action="#">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Usuario" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contrase&ntilde;a" required="">
            </div>

            <!-- vinculo provisional -->
            <a ui-sref="content.ranking"> <button type="submit" class="btn btn-primary block full-width m-b" >Entrar</button></a>  
            
            <!-- sin vinculo, con validaciones -->
            <!--<button type="submit" class="btn btn-primary block full-width m-b" >Entrar</button> -->

            <a ui-sref="forgot_password"><small>&iquestOlvidaste tu contrase&ntilde;a?</small></a>
        </form>
        <p class="m-t"> <small>Alcatraz Gym &copy; 2016</small> </p>
    </div>
</div>
