<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mis comisiones</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="content.ranking">Vendedores</a>
            </li>

            <li class="active">
                <strong>Mis comisiones</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Total comisi&oacuten: $0.00</h5>

                    
                    <div ibox-tools></div>
                </div>
                
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                       
                        <tr>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Membres&iacutea comprada</th>
                            <th>Comisi&oacuten</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="employee in employees">
                            <td>{{employee.date_update}}</td>
                            <td>{{employee.name}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            
        </div>
    </div>
</div>
