<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Mis comisiones</h1>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="content.ranking">Vendedores</a>
            </li>
            <li class="active">
                <strong>Mis comisiones</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Total comisiones: $600.00 </h5>

                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
            <div class="text-center">
                <table class="table table-bordered">
                    <thead>
                    <tr>
               
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Membres&iacutea comprada</th>
                        <th>Comisi&oacuten</th>
                    
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>22/10/2016</td>
                        <td>Mark Tacher</td>
                        <td>Full pass</td>
                        <td>$300.00</td>
                    </tr>
                    <tr>
                        <td>20/10/2016</td>
                        <td>Jacob Black</td>
                        <td>Trimestral</td>
                        <td>$100.00</td>
                    </tr>
                    <tr>
                        <td>2010/2016</td>
                        <td>Juan Castro</td>
                        <td>Semestral</td>
                        <td>$200.00</td>
                    </tr>
                    </tbody>
                </table>
                </div>

            </div>
        </div>
    </div>

</div>
