<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Ranking diario</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="content.ranking">Vendedores</a>
            </li>

            <li class="active">
                <strong>Ranking</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ranking</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>Ventas</th>
                            <th>Comisi&oacuten</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="employee in employees">
                            <td><i class="fa fa-sort-amount-desc 6x"></i></td>
                            <td></td>
                            <td>{{employee.name}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Ranking diario</h1>
        <ol class="breadcrumb">
     
            <li>
                <a>Vendedores</a>
            </li>
            <li class="active">
                <strong>Ranking</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

   

        <div class="ibox-content forum-container">

        <div class="forum-title">
            <div class="pull-right forum-desc">
                <samll>Total diario</samll>
            </div>
            <h3>Ranking</h3>
        </div>


        <!--- Aquí va el ganador -->
        
        <!--<div class="forum-item active">
            <div class="row"  >
                <div class="col-md-9" >
                
                    <div class="forum-icon">
                        <i class="fa fa-trophy 6x"></i>
                    </div>

                    <div class="col-md-1">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">
                    </div>
                    
                    <a class="forum-item-title">{{employee.name}}</a>
                    <div class="forum-sub-title">Vendedor estrella del d&iacutea</div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            3
                                        </span>
                    <div>
                        <small>Ventas</small>
                    </div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            $800.00
                                        </span>
                    <div>
                        <small>Comisi&oacuten</small>
                    </div>
                    
                </div>
                
            </div>
        </div>
        


        <!---- Aquí va el resto de los vendedores -->
      
       <!--<div class="forum-item">
       
            <div class="row">
            
                <div class="col-md-9">
                
                    <div class="forum-icon">
                        <i class="fa fa-sort-amount-desc 6x"></i>
                    </div>

                    <div class="col-md-1">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a5.jpg">
                    </div>
                    <a ui-sref="miscellaneous.forum_post_view" class="forum-item-title">{{employee.name}}</a>
                    <div class="forum-sub-title">&iexclTu puedes lograrlo!</div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            4
                                        </span>
                    <div>
                        <small>Ventas</small>
                    </div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            $750.00
                                        </span>
                    <div>
                        <small>Comisi&oacuten</small>
                    </div>
                </div>
               </tr>
            </div>
        </div>
     
            </div>
        </div>
        </div>
    </div>
</div>