


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Ranking diario</h1>
        <ol class="breadcrumb">
     
            <li>
                <a>Vendedores</a>
            </li>
            <li class="active">
                <strong>Ranking</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

   

        <div class="ibox-content forum-container">

        <div class="forum-title">
            <div class="pull-right forum-desc">
                <samll>Total diario</samll>
            </div>
            <h3>Ranking</h3>
        </div>

        <div class="forum-item active">
            <div class="row">
                <div class="col-md-9">
                    <div class="forum-icon">
                        <i class="fa fa-trophy 6x"></i>
                    </div>

                    <div class="col-md-1">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">
                    </div>
                    
                    <a class="forum-item-title">Mike Ramos</a>
                    <div class="forum-sub-title">Vendedor estrella del d&iacutea</div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            3
                                        </span>
                    <div>
                        <small>Ventas</small>
                    </div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            $800.00
                                        </span>
                    <div>
                        <small>Comisi&oacuten</small>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="forum-item">
            <div class="row">
                <div class="col-md-9">
                    <div class="forum-icon">
                        <i class="fa fa-sort-amount-desc 6x"></i>
                    </div>

                    <div class="col-md-1">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a5.jpg">
                    </div>
                    <a ui-sref="miscellaneous.forum_post_view" class="forum-item-title">Laura Ruedas</a>
                    <div class="forum-sub-title">&iexclTu puedes lograrlo!</div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            4
                                        </span>
                    <div>
                        <small>Ventas</small>
                    </div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            $750.00
                                        </span>
                    <div>
                        <small>Comisi&oacuten</small>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="forum-item">
            <div class="row">
                <div class="col-md-9">
                    <div class="forum-icon">
                        <i class="fa fa-sort-amount-desc 6x"></i>
                    </div>

                    <div class="col-md-1">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a7.jpg">
                    </div>
                    <a ui-sref="miscellaneous.forum_post_view" class="forum-item-title">Emilio Mendoza Zapata</a>
                    <div class="forum-sub-title">&iexclTu puedes lograrlo!</div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            2
                                        </span>
                    <div>
                        <small>Ventas</small>
                    </div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            $600.00
                                        </span>
                    <div>
                        <small>Comisi&oacuten</small>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="forum-item">
            <div class="row">
                <div class="col-md-9">
                    <div class="forum-icon">
                        <i class="fa fa-sort-amount-desc 6x"></i>
                    </div>

                    <div class="col-md-1">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a3.jpg">
                    </div>
                    <a ui-sref="miscellaneous.forum_post_view" class="forum-item-title">Cristina Cardoza G&oacutemez</a>
                    <div class="forum-sub-title">&iexclTu puedes lograrlo!</div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            0
                                        </span>
                    <div>
                        <small>Ventas</small>
                    </div>
                </div>
                <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            $0.00
                                        </span>
                    <div>
                        <small>Comisi&oacuten</small>
                    </div>
                </div>
                
            </div>
        </div>
        </div>
        </div>
        </div>
    </div>
</div>
